<!DOCTYPE html>
<html>
<head>
    <title>Fuel Station Finder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Add your CSS file in the 'static' folder -->
</head>
<body>
    <!-- search bar -->
    <div class="container">
        <h1>Welcome to Fuel Station Finder</h1>
        <form action="/get_stations" method="post">
            <input type="text" id="location" name="location" placeholder="Enter your location">
            <button type="submit">Find Stations</button>
        </form>
    </div>
    
    <!-- Map -->
    <div class="google-map">
        <iframe src="[Url from python code]" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>

    <!-- Optional: Include JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

<!-- pass id and gas station-->
